{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists{% endblock %}
{% block content %}<!-- CSS only -->
<div class="row">
	<div class="col-sm-4">
		<ul class="items">
			{% for artist in artists %}
			<li>
				<a href="/artists/{{ artist.id }}">
					<i class="fas fa-users"></i>
					<div class="item">
						<h5>{{ artist.name }}</h5>
					</div>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="col-sm-8">
		<a href="http://127.0.0.1:5000/artists/create">Add artist</a>
	</div>
</div>

{% endblock %}